* {margin:0; padding:0;}

body{}

.auto-resizable-iframe {
  max-width: 100%;
  margin: 0px auto;
}
/*test for responsive banner 
    .test {
      height: 0;
      padding-bottom: 40%;
      width: 100%;
      background-image: url(../images/procedure.png) no-repeat;
      background-size: cover;
    }
*/
.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 65%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 85%;
}

.banner1{
	height:0; 
	position:; 
	background-color: black; 
	background-image:url(../images/procedure.png);
	background-size:cover; 
	background-attachment:fixed; 
	background-position:center top; 
	margin:0; 
	padding-bottom: calc(40% + 200px);
	background-repeat: no-repeat;

}

.banner1 h1{font-size: 4rem; color:white;}



@media only screen (max-width: 768px){

 .auto-resizable-iframe {max-width:150%; }

 .auto-resizable-iframe iframe {height:100%;}
 
 .banner1{
	height:80vh; 
	position:relative; 
	background-image:url(../images/procedure.png); 
	background-size:100% auto; 
	background-attachment:fixed; 
	background-position:center top; 
	margin:0; 
	padding:18% 0 0 4%; 
	background-repeat: no-repeat;

}



#procedurePic {
	
	height:80%; 
	width:80%;
	background-color:black;
	margin: 5% 20% 0 20%;
}
 
}

.center {
	margin:0 auto;
	
}


.treatment {margin:4% 0;}
.content * {}

.content h1 {margin: 0% 0 0 0; padding:20px 0 30px 0;}

 h3 {margin:4% 0;}

.content p {margin:4% 0 0 0;}

.content li {margin:3% 0 0 0;}

#procedurePic {
	
	height:60%; 
	width:60%;
	background-color:black;
	margin: 4% 20% 0 20%;
}

.round-corners {border-radius:20px;}

.navbar {padding:1% 2%;}

@media only screen and (min-width: 600px) {

	.content{width:60%;}
	.navbar {padding:0 2% 0% 2%;}
}

.banner1 {padding-bottom:calc (40% + 100px);}

.banner1 h1 {font-size:8rem;}

.banner2{
	height:0; 
	position:; 
	background-color: black; 
	background-image:url(../images/results-banner.png);
	background-size:cover; 
	background-attachment:fixed; 
	background-position:center top; 
	margin:0; 
	padding-bottom: calc(40% + 200px);
	background-repeat: no-repeat;

.banner2 h1{font-size:100px;color:white;}





